@import "src/scss/bootstrap";

// Shadow
$PrimShadow: 2px 2px 10px black;

// Background Colors
$BG-Primary: rgb(20, 20, 20);
$BG-Secondary: rgb(12, 12, 12);

// Outline
$darkOutLine: 2px solid black;

// Glow
$defaultGlow: 0 0 5px white;
$selectedGlow: 0 0 10px pink;


body{
    background-color: $BG-Primary;
}

.container{
    padding: 20px;
    margin-top: 200px;
    box-shadow: $PrimShadow;
    border: $darkOutLine;
    background-color: $BG-Secondary;
}

.col{
    background-color: transparent;
    color: white;
}

.logo{
    width: 50%;
    box-shadow: $PrimShadow;
}

.socials{
    margin-top: 10%;
}

a:hover{
    color: white;
}

.btn{
    color:white;
    margin: 5px;
    box-shadow: $defaultGlow;
    font-size: 20px;
}

.btn:hover{
    box-shadow: $selectedGlow;
}

.circleBtn{
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: $defaultGlow;
    transition: 0.2s;
}

.circleBtn:hover{
    font-size: 30px;
    transition: 0.2s;
}