@import "src/scss/bootstrap";

// Shadow
$PrimShadow: 2px 2px 10px black;

// Background Colors
$BG-Primary: rgb(20, 20, 20);
$BG-Secondary: rgb(12, 12, 12);

// Outline
$darkOutLine: 2px solid black;

// Glow
$defaultGlow: 0 0 5px white;
$selectedGlow: 0 0 10px pink;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@include media-breakpoint-down(xl) { 
    .logo{
        width: 25vw !important;
    }

    .p-1{
        font-size: 4vh !important;
    }

    .subtext{
        font-size: 2vw !important;
    }

    .btn{
        font-size: 20px !important;
    }
}

@include media-breakpoint-down(lg) {
    .col{
        flex: 0 0 100% !important;
    }

    .logo{
        width: 30vw !important;
    }

    .p-1{
        font-size: 4vh !important;
    }

    .subtext{
        font-size: 2vw !important;
    }

    .btn{
        font-size: 20px !important;
    }
}

@include media-breakpoint-down(md) {
    .container{
        background-color: $BG-Primary !important;
        box-shadow: none !important;
        border: 0 !important;
    }

    .col{
        flex: 0 0 100% !important;
    }

    .logo{
        width: 50vw !important;
    }

    .p-1{
        font-size: 4vh !important;
    }

    .subtext{
        font-size: 3vw !important;
    }

    .btn{
        font-size: 15px !important;
    }
}

@include media-breakpoint-down(sm) {
    .container{
        background-color: $BG-Primary !important;
        box-shadow: none !important;
        border: 0 !important;
    }

    .col{
        flex: 0 0 100% !important;
    }

    .logo{
        width: 70vw !important;
    }

    .p-1{
        font-size: 4vh !important;
    }

    .subtext{
        font-size: 3.5vw !important;
    }

    .btn{
        font-size: 15px !important;
    }
}

body{
    background-color: $BG-Primary;
}

.container{
    padding: 1em;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    box-shadow: $PrimShadow;
    border: $darkOutLine;
    background-color: $BG-Secondary;
}

.col{
    background-color: transparent;
    color: white;
}

.logo{
    width: 20em;
    box-shadow: $PrimShadow;
}

.p-1{
    font-weight: bold;
}

.subtext {
    background: repeating-linear-gradient(to right, silver 0%, pink 50%, silver 100%);
    background-size: 200% auto; /* Important for smooth animation */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: textGradient 5s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes textGradient{
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.socials{
    margin-top: 10%;
}

a:hover{
    color: white;
}

.btn{
    color:white;
    margin: 5px;
    box-shadow: $defaultGlow;
    font-size: 20px;
}

.btn:hover{
    box-shadow: $selectedGlow;
}

.circleBtn{
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: $defaultGlow;
    transition: 0.2s;
}

.circleBtn:hover{
    font-size: 30px;
    transition: 0.2s;
}